:root{
  --main-color: #10cab7;
  --secondary-color: #2c4755;
  --section-background: #f6f6f6;
  --section-padding: 60px;
}
*{
 -webkit-box-sizing: border-box ;
 -moz-box-sizing: border-box;
 box-sizing: border-box;
}
body {
font-family: "Work Sans", sans-serif;
}
html{
  scroll-behavior: smooth;
}
.container{
padding-left: 15px;    
padding-right: 15px;     
margin-left: auto;
margin-right: auto;

}
@media (min-width:768px){
  .container{
width: 750px;
 }
}


@media (min-width:992px){
       .container{
    width: 970px;
      }
    }

    
    @media (min-width:1200px){
       .container{
    width: 1170px;
      }
    }
       
/*start componanet*/
.special-heading {
font-size: 100px;
color:#ebeced;
font-weight: 800;
text-align: center;
letter-spacing: -3px;
margin: 0;
}
.special-heading + p{
margin: -30px 0 0 ;
font-size: 20px;
text-align: center;
color: #797979;
}

@media(max-width:768px){
.special-heading{
  font-size: 60px;
}
.special-heading + p{
  margin-top: -20px;
}



}
/*end companent*/

/* -------------------------------------------------------- */

/* start nav */
.nav{
padding: 20px;
}

.nav .container{
display: flex;
justify-content: space-between;
align-items: center;
}
.nav .container .logo{
width: 60px;                                                                                                    
}
.nav .nav-links{
position: relative;
}

.nav .nav-links .icon{

width: 30px;
height: 20px;
display: flex;
flex-wrap: wrap;
justify-content: end;
}

.nav .nav-links .icon span{
width: 100%;
height: 2px;
margin-bottom: 5px;
background-color: #333;
}
.nav  .nav-links .icon span:nth-child(2) {
 width: 50%;
 transition: 0.3s;
}
.nav .nav-links:hover .icon span:nth-child(2)  {
    width: 100%;
    
      }
                                                                                                   
.nav  .nav-links ul {
list-style: none;
margin: 0;
padding: 0;
background-color:var(--section-background);
position: absolute;
right: 0;
min-width: 200px;
top:calc(100%+15px);
display: none;
z-index: 1;
   }
                                                                                                    
.nav  .nav-links ul::before {
content: "";
border-width: 10px;
border-style: solid;
border-color:  transparent transparent #f6f6f6 transparent;
position: absolute;
right: 5px;
top: -13px;

}
.nav .nav-links:hover ul{
 display: block;
}

.nav  .nav-links ul li a {
display: block;
padding: 15px;
text-decoration: none;
color: #333;
transition: 0.3s;
}


.nav  .nav-links ul li a:hover{
padding-left: 25px;

}


.nav  .nav-links ul li:not(:last-child){
     border-bottom: 1px solid #ddd;
      
      }


/* end nav */


/* start landing */
 .landing{
  background-image: url(../images/main-cover.jpg);
  background-size: cover;
  height: calc(100vh - 64px);
  position: relative;
 }   
 .landing .intro-text {

position: absolute;
left: 50%;
top: 50%;
transform:translate(-50%,-50%) ;
text-align: center;
width:320px;
max-width: 100%;

 }                                                                                

 .intro-text h1  {
  color: var(--main-color);
  margin: 0;
  font-size: 50px;
  font-weight: bold;

 } 

 .intro-text p {
  font-size: 19px;
  line-height: 1.8;
 } 
/* end landing */

/* start features */
 .features{
  padding-top: var(--section-padding);
  padding-bottom: var(--section-padding);
  background-color: var(--section-background) ;
 }
.features .container{
display: grid;
grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
grid-gap: 20px;

}
.features .feat{
  padding:20px ;
  text-align: center;
}
.features .feat i{
  color: var(--main-color);
}

.features .feat h3{
font-weight: 800;
margin:30px 0;
}


.features .feat p{
line-height:1.8;
font-size: 17px;
color: #777;
}
/* end features */

/* start services */
.services{
  padding-top: var(--section-padding);
  padding-bottom:var(--section-padding);
}


.services .services-content{
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
grid-gap: 30px;
margin-top:100px;
}

.services-content .srv {
display: flex;
margin-bottom:40px ;

}
@media( max-width:767px){
 
  .services-content .srv{
    flex-direction: column;
    text-align: center;
  }

}

.services-content .srv i {
  color: var(--main-color);
  flex-basis: 60px ;
}

.services-content .srv .text{
  flex: 1;
}
.services-content .srv .text h3{
margin: 0 0 20px;
}

.services-content .srv .text p{
  color:#444;
  font-weight: 300;
  line-height: 1.6;
}
.services-content  .image{
  text-align: center;
  position: relative;
}
.services-content  .image::before{
  content: " ";
  background-color: var(--secondary-color) ;
  width: 100px;
  height: calc(100% + 100px);
  position: absolute;
  top:-50px;
  right: 0;
  z-index: -1;
}


.services-content  .image img{
  width: 260px;
}
@media (max-width:1199px){
  .image-col{
    display: none;
  }
}
 /* end services */

 /* start portfolio */
.portfolio{
  padding-top: var(--section-padding);
  padding-bottom: var(--section-padding);
  background-color: var(--section-background) ;
}
.portfolio-content{
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
grid-gap: 30px;
margin-top:100px;
}

.portfolio-content .card {
  background-color: white ;
}
.portfolio-content .card img{
  max-width: 100%;
}

.portfolio-content .card .info{
  padding: 20px;
}

.portfolio-content .card .info h3{
 margin:0 ;
}
.portfolio-content .card .info  p{
  color: #777;
  line-height: 1.6;
  margin-bottom: 0;
}                                                 
 /* end portfolio */

  /* start About */
.About{
  padding-top: var(--section-padding);
  padding-bottom:calc(var(--section-padding) + 60px ) ;
}
.About-content{
display: flex;
justify-content: space-between;
flex-wrap: wrap;
margin-top:100px;
}
.About-content .image img{
  max-width: 100%;
}

.About-content .image{
  position: relative;
  width: 250px;
  height: 375px;

}

.About-content  .image::before{
  content: " ";
  background-color: #ebeced; 
  width: 100px;
  height: calc(100% + 80px);
  position: absolute;
  top:-40px;
  left: 0;
  z-index: -1;
}
.About-content  .image::after{
  content: " ";
  width: 120px;
  height: 300px;
  position: absolute;
  top:-40px;
  right: -150px;
  z-index: -1;
  border-bottom: 60px solid var(--main-color) ;
  border-left:  60px solid var(--main-color);
 }
 .About-content .txt{
  flex-basis: calc(100% - 500px );
 }
 .About-content .txt p:first-of-type{
font-weight: bold;
line-height: 2;
margin-bottom:50px ;

 }

 .About-content .txt hr {
  width: 50%;
  border-color: var(--main-color);
  display: inline-block;
 }

 .About-content .txt p:last-of-type{
  line-height: 2;
  color: #777;
 }


 @media (max-width:991px){

.About-content{

    flex-direction: column;
    text-align: center;
  }
 
.About-content  .image::after,
.About-content  .image::before{

    display: none;
  }

.About-content .image{
margin: 0 auto  60px  ;
}

  }

  /* end contact */
.contact{
  background-color: var(--section-background);
  padding-top: var(--section-padding);
  padding-bottom: var(--section-padding)  ;
}
.contact-content{
  padding-top: var(--section-padding);
  padding-bottom: var(--section-padding)  ;
  text-align: center;
}
.contact-content .text{
font-size: 35px;
font-weight: 800;
color: var(--secondary-color);
letter-spacing: -2px;
margin-bottom: 15px;
}
.contact-content .link{
  display: block;
  font-size: 30px;
  font-weight: 800;
  color: var(--main-color);
  margin-bottom: 30px;
  text-decoration: none;
}
.contact-content .social{
  display: flex;
  justify-content:center;
  margin-top: 20px;
  font-size: 16px;
}
.contact-content .social i{
margin-left: 10px;
color: var(--secondary-color);
}
@media (max-width:767px){
  .contact-content .text,
  .contact-content .link {
    font-size: 27px;
  }
}
    /* end contact */


 /* start footer */   
.footer{
  background-color: var(--secondary-color);
  color: white;
  text-align: center;
  font-size: 17px;
  padding: 30px 10px;
}

.footer span {
font-weight: bold;
color: var(--main-color);
}
/* end footer */